.about {
  padding-top: 163px;
  display: flex;
  flex-direction: column;
  position: relative;

  &__icon {
	margin-top: auto;
  }

  &__image {
	@include min-media($desktop) {
	  position: absolute;
	  width: auto;
	  height: auto;
	}
  }

  &__image-top {
	@include min-media($desktop) {
	  top: -250px;
	  left: calc(100% - 508px);
	}
  }

  &__image-left {
	@include min-media($desktop) {
	  top: calc(50% - 504px / 2);
	  left: 50%;
	}
  }

  &__image-bottom {
	@include min-media($desktop) {
	  bottom: -93px;
	  left: calc(100% - 380px);
	}
  }

  &__icon-mobile {

	@include min-media($desktop) {
	  display: none;
	}
  }

  &__icon-desktop {

	@include media($desktop) {
	  display: none;
	}
  }
}