.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  position: relative;
  z-index: 10;

  $padding: 37px;
  @include min-media($desktop) {
    padding: $padding 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
  }

  $logo-width: 43;

  &__logo {
    @include size($logo-width, 35);
    @include multi-transition($speed-large, ease-out, top);

    @include min-media($desktop) {
      position: absolute;
      top: $padding + 20;
    }

    img {
      display: block;

      @include hover {
        transform: scale(1.2);
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 124px;
    align-items: center;
    width: 100%;
  }

  &__left {
    flex-grow: 1;
    gap: 109px;
    padding: 20px;
    min-height: calc(100 * var(--vh));
    position: absolute;
    z-index: 99;
    width: 100%;
    right: 0px;
    top: 0px;
    transform: scale(0);
    background: $decor;
    @extend %card-row;
    align-items: center;
    @include transition;
    transform-origin: right top;

    &.is-open {
      transform: scale(1);
    }

    @include min-media($desktop) {
      padding: 0px;
      align-items: center;
      justify-content: space-between;
      position: static;
      transform: none;
      min-height: 0px;
      background: $transparent;
      margin-left: calc(#{$logo-width + px} + 124px);
    }
  }

  &__button-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    @include size(38);
    color: inherit;

    @include min-media($desktop) {
      display: none;
    }
  }

  &__button-burger-close {
    align-self: flex-end;
  }

  &__social {

    @include min-media($desktop) {
      position: absolute;
      right: calc( (100vw - #{$site-container}) / 2);
      top: 0;
      padding-top: 37px;
    }

    @include media($desktop) {
      gap: 44px;
    }

    svg {

      @include media($desktop) {
        @include size(30);
      }

    }
  }
}