@import "base/base";
@import "animations/slide-top";
@import "animations/zoom";
@import "animations/slide-left";
@import "animations/hero-decor-animation";
@import "animations/about-decor-animation";
@import "animations/slide-right";
@import "animations/fade-out-bg";
