.details {

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 145px;
    max-width: 243px;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }
}