.hero {
  padding-top: 118px;
  padding-bottom: 48px;
  position: relative;
  z-index: 1;

  @include min-media($desktop) {
    padding-top: 109px;
  }

  &__icon {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;

    @include media(1420) {
      width: 100%;
      height: auto;
    }
  }

  &__info-wrapper {
    gap: 28px;
    @extend %card-row;
    margin-top: 217px;
    max-width: 470px;

    @include min-media($desktop) {
      gap: 72px;
      margin-top: 63px;
    }
  }

  &__info {
    flex-grow: 1;
  }

  &__button {
    margin-top: 28px;

    @include min-media($desktop) {
      margin-top: 41px;
    }
  }

  &__decor {
    position: absolute;
    z-index: 1;

    @include media($desktop) {
      height: auto;
    }
  }

  &__decor-top-right {
    left: calc(50% - 63px);
    top: -144px;

    @include media($desktop) {
      width: 196px;
    }

    @include min-media($desktop) {
      left: calc(50% + 133px);
      top: -224px;
    }

  }

  &__decor-top-left {
    left: calc(50% - 190px);
    top: -41px;
    z-index: 3;

    @include media($desktop) {
      width: 188px;
    }

    @include min-media($desktop) {
      left: calc(50% - 105px);
      top: -6px;

    }

  }

  &__decor-center {
    top: 41px;
    left: calc(50% + 12px);

    @include media($desktop) {
      width: 174px;
    }

    @include min-media($desktop) {
      left: calc(50% + 146px);
      top: 133px;
    }

  }

  &__decor-bottom {
    top: 146px;
    left: calc(50% - 208px);

    @include media($desktop) {
      width: 352px;
    }

    @include min-media($desktop) {
      left: calc(50% - 280px);
      top: 319px;
    }

  }
}