{% set title = 'Home' %}
{% set styles = ['animations', 'home-page'] %}
{% set scripts = ['gsap', 'ScrollTrigger', 'ScrollToPlugin', 'animations'] %}
{% extends 'layouts/layout.njk' %}
{% block content %}
    <div class="wrapper">
        {% include 'components/header.njk' %}
        <main class="main">
            <section class="hero section js-sections">
                <div>
                    <img class="hero__decor hero__decor-top-right is-hero-decor-animation-bounce" width="429"
                         height="538" src="./images/b4.png" alt="">
                    <img class="hero__decor hero__decor-top-left is-hero-decor-animation-bounce" width="321"
                         height="333" src="./images/b3.png" alt="">
                    <img class="hero__decor hero__decor-center is-hero-decor-animation-bounce" width="334" height="373"
                         src="./images/b2.png" alt="">
                    <img class="hero__decor hero__decor-bottom is-hero-decor-animation-delay" width="796" height="657"
                         src="./images/b11.png" alt="">
                </div>
                <svg class="hero__icon icon is-zoom" width="1420" height="208">
                    <use href="{{ iconUrl }}title-sprite"></use>
                </svg>
                <div class="container">
                    <div class="hero__info-wrapper">
                        <div class="h2-title is-slide-top">
                            €62
                        </div>
                        <div class="hero__info">
                            <div class="is-slide-top">
                                <p>
                                    Hevorga Noci releases a new collection of ceramic acoustic instruments, inspired by
                                    traditional Ukrainian toy.
                                </p>
                            </div>
                            <a class="hero__button button is-slide-left" href="#">
                                About the collection
                                <svg width="21" height="10" class="icon">
                                    <use href="{{ iconUrl }}arrow-text"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="about section js-sections">
                <div class="container">
                    <div class="info-box">
                        <h2 class="h3-title">About the Artist</h2>
                        <div class="info-box__text">
                            <p>
                                Living in Italy since 1996, the Ukrainian sculptor, Hevorga Noci, graduated from the
                                School of Fine Arts Manuel Belgrano and majored in Sculptor in the Superior School of
                                Fine Arts in Santa Rosaria, Italy.
                            </p>
                            <p>
                                In parallel to the work as a fine artist and researcher of folk Ukrainian instruments,
                                she has been intensively working with clay and ceramic materials. Hevorga participated
                                in workshops, exhibitions and festivals related with porcelain art
                                in Italy and the world.
                            </p>
                        </div>
                    </div>
                </div>
                <svg class="about__icon about__icon-desktop" width="1288" height="166">
                    <use href="{{ iconUrl }}about-title-sprite-desk"></use>
                </svg>
                <svg class="about__icon about__icon-mobile" width="355" height="160">
                    <use href="{{ iconUrl }}about-title-sprite-mob"></use>
                </svg>
            </section>
            <section class="details section js-sections">
                <div class="details__container container">
                    <div class="info-box is-slide-top">
                        <h2 class="h3-title">Details and significant facts</h2>
                        <div class="info-box__text">
                            <p>
                                The bird water whistles are made of ceramic, non-toxic and not easily fade off.
                            </p>
                            <p>
                                These birds are very suitable for birthdays, party favors, Christmas, Easter, stocking
                                stuffer, add some fun to your child's party with these colorful cute bird whistles.
                            </p>
                        </div>
                        <a class="info-box__button button" href="#">
                            All collection
                            <svg width="21" height="10" class="icon">
                                <use href="./i/sprite.svg#arrow-text"></use>
                            </svg>
                        </a>
                        {% set list = [
                            'Unique non-toxic glazed porcelain',
                            'Wonderful gift to yourself and your beloved ones',
                            'Traditional Ukrainian toy'
                        ] %}
                        <ul class="details__list">
                            {% for item in list %}
                                <li class="details__item">
                                    <svg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M22.4806 4.16289C22.5069 4.27674 22.5378 4.41068 22.9317 4.80286L22.9318 4.80282C23.0843 4.95484 22.9622 5.22837 22.7486 5.28923H21.3745C21.1606 5.28923 21.0079 5.38041 20.8858 5.53244C20.7943 5.68447 20.7331 5.86682 20.7943 6.04918C20.9774 6.71771 21.069 7.41703 21.069 8.11612C21.069 12.3717 17.4963 15.8371 13.1906 15.7156C16.3358 12.0982 16.4582 6.74827 13.5877 2.97888C13.3434 2.67485 13.374 2.24929 13.6488 1.97575L14.3206 1.307C15.2368 0.455881 16.397 0 17.649 0C20.0615 0 22.1379 1.76308 22.4738 4.13411C22.4762 4.14366 22.4784 4.1532 22.4806 4.16289ZM11.6334 3.92125C11.9998 3.55634 12.6105 3.61719 12.916 4.04275L12.916 4.0429C15.6642 8.08581 14.7176 13.9525 10.1065 16.7188C9.1599 17.2964 8.12171 17.6916 7.0224 17.874C4.60991 18.269 2.22813 17.722 0.334923 16.3844C-0.0621217 16.1109 -0.123042 15.5028 0.24333 15.1381L11.6334 3.92125Z" fill="white"/>
                                    </svg>
                                    {{ item }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <img class="details__img " src="./images/details.png" width="880" height="659" alt="">
                </div>
            </section>
            <section class="section-decor js-sections">
                <div class="is-fade-out-bg section-decor__wrapper">
                    <div class="section-decor__bg is-fade-out-bg__lower-level"></div>
                    <img class="section-decor__img is-slide-right" src="./images/birds.png" width="1140" height="1079"
                         alt="">
                </div>
            </section>
        </main>
        {% include 'components/footer.njk' %}
    </div>
{% endblock %}
