<header class="header is-slide-top">
    <div class="container">
        <div class="header__row">
            <button type="button" class="button-full-reset header__logo js-fixed-element">
                <img src="./images/logo.svg" width="43" height="35" alt="Link to main page">
            </button>
            <button class="header__button-burger button-full-reset js-open-burger" type="button">
                <svg class="icon icon__stroke" width="38" height="16">
                    <use href="{{ iconUrl }}btn-burger-open"></use>
                </svg>
            </button>
            <div class="header__left js-burger-menu">
                <button class="header__button-burger header__button-burger-close button-full-reset js-close-burger" type="button">
                    <svg class="icon" width="24" height="23">
                        <use href="{{ iconUrl }}btn-burger-close"></use>
                    </svg>
                </button>
                <nav class="menu">
                    {% set menuItems = ['About', 'Gallery', 'Store'] %}
                    <ul class="menu__list">
                        <li>
                            <a href="#"></a>
                        </li>
                        {% for menuItem in menuItems %}
                            <li class="menu__item">
                                <a href="#">{{ menuItem }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
                {% include 'components/social.njk' %}
            </div>
        </div>
    </div>
</header>